.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 56px 24px;
  &-link {
    color: var(--text);
    border-radius: 8px;
    padding: 14px 15px;
    cursor: pointer;
    &_active {
      background-color: var(--bg-light);
    }
  }
}