.card {
  display: flex;
  background-color: var(--bg-light);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 16px;
  &-mission {
    width: 50%;
    padding-right: 40px;
    &__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 14px;
    }
    &__date {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 14px;
    }
    &__label {
      font-size: 16px;
      line-height: 19px;
      color: var(--grey-dark);
      margin-bottom: 6px;
    }
    &__details {
      margin-bottom: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-overflow: -o-ellipsis-lastline;
      display: -webkit-box;
      -webkit-box-orient: vertical;  
      -webkit-line-clamp: 5;
    }
  }
  &-rocket {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    &-wrap {
      width: 100%;
      margin-right: 56px;
    }
    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &__txt {
        font-size: 32px;
        line-height: 38px;
        margin-right: 24px;
      }
      &__label {
        background-color: var(--text);
        color: var(--bg-light);
        border-radius: 8px;
        padding: 4px;
        font-size: 12px;
        line-height: 14px;
      }
    }
    &-list {
      list-style: none;
      margin-bottom: 24px;
      &-item {
        display: flex;
        padding: 6px 0;
        border-bottom: 1px solid var(--grey-dark);
        &__label {
          width: 50%;
          color: var(--grey);
        }
        &__txt {
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
    &__link {
      color: var(--text);
    }
  }
  &-star {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
}