:root {
  --bg: #1E1E1E;
  --bg-light: #252525;
  --bg-light-fresh: #313131;
  --text: #EBEBEB;
  --grey: #8B8B8B;
  --grey-dark: #606060;
  --grey-light: #313131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

.btn-more {
  width: 100%;
  padding: 10px 0;
  border-radius: 16px;
  border: none;
  font-size: 24px;
  line-height: 29px;
  background-color: var(--grey-light);
  color: var(--text);
  cursor: pointer;
}